body {
    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif; /* Establece una fuente más legible */
}

#map {
    height: 50%;
    width: 30%;
    position: absolute; /* Cambia a posición absoluta */
    top: 2%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para profundidad */
}

.view-radial {
    height: 46.4%;
    width: 35%;
    position: absolute; /* Cambia a posición absoluta */
    top: 2%; /* Ajusta la posición vertical */
    left: 10%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para profundidad */
}

.city-selector,
.view-radial h3 {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espacio entre elementos */
    font-family: 'Arial', sans-serif; /* Cambia la fuente a Arial */
    color: #333; /* Color del texto */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Sombra sutil en el texto */
    
}

label {
    display: block; /* Hace que cada label ocupe toda la línea */
    margin-bottom: 5px; /* Espaciado entre checkboxes */
}

.options-chek label {
    font-size: 0.9em; /* Cambia el tamaño de la fuente a más pequeño */
    color: #777; /* Color más suave para los checkboxes */
}
.options-chek input[type="checkbox"] {
    margin-right: 5px; /* Espacio entre checkbox y label */
    transform: scale(1.2); /* Aumenta el tamaño del checkbox */
}

#chart-view-radial{
    height: 46.4%;
    width: 35%;
    position: absolute; /* Cambia a posición absoluta */
    top: -4%; /* Ajusta la posición vertical */
    left: 25%; /* Ajusta la posición horizontal */
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    

}
.fechas-rad{
    position: absolute; /* Cambia a posición absoluta */
    font-size: 0.9em; /* Cambia el tamaño de la fuente a más pequeño */
    color: #777; /* Color más suave para los checkboxes */
    margin-right: 5px; /* Espacio entre checkbox y label */
    margin-top: 10px;
    /* transform: scale(1.2); Aumenta el tamaño del checkbox */
}
