body {
    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif; /* Establece una fuente más legible */
}

#map {
    height: 50%;
    width: 26%;
    position: absolute; /* Cambia a posición absoluta */
    top: 2%; /* Ajusta la posición vertical */
    left: 11%; /* Ajusta la posición horizontal */
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para profundidad */
}

#dashboard
{
    height: 48%;
    width: 8%;
    position: absolute; /* Cambia a posición absoluta */
    top: 2%; /* Ajusta la posición vertical */
    left: 1%; /* Ajusta la posición horizontal */
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9em; /* Cambia el tamaño de la fuente a más pequeño */
    padding: 10px;
    color: #777; /* Color más suave para los checkboxes */

}
h4{
    margin-left: 15px;
    margin-top: 10px;
}
.city-checkboxes label {
    display: block; /* Asegura que cada etiqueta esté en una nueva línea */
    margin-bottom: -5px; /* Reduce el espacio entre las etiquetas */
    margin-left: 5px;
}



#view-radial {
    height: 47%;
    width: 33%;
    position: absolute; /* Cambia a posición absoluta */
    top: 2%; /* Ajusta la posición vertical */
    left: 37.9%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para profundidad */
}

#correlation {
    height: 47%;
    width: 24%;
    position: absolute; /* Cambia a posición absoluta */
    top: 2%; /* Ajusta la posición vertical */
    left: 73.3%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para profundidad */
}
#evolution {
    height: 40.5%;
    width: 41%;
    position: absolute; /* Cambia a posición absoluta */
    top: 54%; /* Ajusta la posición vertical */
    left: 56.5%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para profundidad */
}

#serie-temporal {
    height: 40.5%;
    width: 53%;
    position: absolute; /* Cambia a posición absoluta */
    top: 54%; /* Ajusta la posición vertical */
    left: 1%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para profundidad */
}
.city-selector,
.view-radial h3 {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espacio entre elementos */
    font-family: 'Arial', sans-serif; /* Cambia la fuente a Arial */
    color: #333; /* Color del texto */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Sombra sutil en el texto */
    
}

label {
    display: block; /* Hace que cada label ocupe toda la línea */
    margin-bottom: 5px; /* Espaciado entre checkboxes */
}

.options-chek label {
    font-size: 0.9em; /* Cambia el tamaño de la fuente a más pequeño */
    color: #777; /* Color más suave para los checkboxes */
}
.options-chek input[type="checkbox"] {
    margin-right: 5px; /* Espacio entre checkbox y label */
    transform: scale(1.2); /* Aumenta el tamaño del checkbox */
}

#chart-view-radial{
    height: 46.4%;
    width: 35%;
    position: absolute; /* Cambia a posición absoluta */
    top: -4%; /* Ajusta la posición vertical */
    left: 25%; /* Ajusta la posición horizontal */
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    

}
.fechas-rad {
    margin-top: 15px; /* Ajusta el valor según cuánto espacio quieras agregar */
    margin-left: 10px;
}

label[for="fecha-inicio"],
label[for="fecha-fin"],
#fecha-inicio,
#fecha-fin {
    display: block; /* Mantén estos en líneas separadas */
    margin-top: 8px;
    margin-left: 10px;

}

label input[type="checkbox"] {
    display: inline; /* Asegura que el checkbox esté en línea */
    margin-top: 8px;
    margin-left: 10px;

}

label#checkbox-container {
    display: inline-flex; /* Coloca el contenedor en una línea */
    align-items: center; /* Alinea el checkbox y el texto verticalmente */
    margin-top: 10px; /* Espacio superior opcional */
}

/* Estilos para el contenedor principal del panel de selección */

/* Estilos para el título del panel */
#dashboard h3 {
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
}

/* Estilos para los checkboxes de las ciudades */
.city-checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

/* Ocultar el contenedor de atribución que incluye el logo */
.gm-style .gm-style-cc {
    display: none !important; /* Forzar ocultación */
}

#legend {
    display: flex; /* Usar flexbox para alinear los elementos en fila */
    margin-top: 130px; /* Espacio superior para separar de otros elementos */
    margin-left: 210px;
    font-family: Arial, sans-serif; /* Fuente de la leyenda */
    color: #777; /* Color más suave para los checkboxes */
    font-size: 0.8em; /* Aumenta el tamaño de la letra */

}

.legend-item {
    display: flex; /* Usar flexbox para alinear el cuadro de color y el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    margin-right: 20px; /* Espacio a la derecha de cada elemento */
}

.color-box {
    width: 21px; /* Ancho del cuadrado de color */
    height: 15px; /* Alto del cuadrado de color */
    margin-right: 5px; /* Espacio entre el cuadrado y el texto */
    border-radius: 20%;
    opacity: 0.2; /* Opacidad del cuadrado de color */
}
