body {
    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif; /* Establece una fuente más legible */
}

#map {
    height: 50.1%;
    width: 26%;
    position: absolute; /* Cambia a posición absoluta */
    top: 1%; /* Ajusta la posición vertical */
    left: 9.9%; /* Ajusta la posición horizontal */
    border: 1px solid #333;
    border-radius: 3px;
}

#dashboard
{
    height: 48%;
    width: 8%;
    position: absolute; /* Cambia a posición absoluta */
    top: 1%; /* Ajusta la posición vertical */
    left: 0.5%; /* Ajusta la posición horizontal */
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    background-color: #fff;
    border-radius: 3px;
    font-size: 0.9em; /* Cambia el tamaño de la fuente a más pequeño */
    padding: 10px;
    color: #0e0e0e; /* Color más suave para los checkboxes */

}
h4{
    margin-left: 15px;
    margin-top: 10px;
}
.city-checkboxes label {
    display: block; /* Asegura que cada etiqueta esté en una nueva línea */
    margin-bottom: -5px; /* Reduce el espacio entre las etiquetas */
    margin-left: 5px;
}



#view-radial {
    height: 47%;
    width: 32.4%;
    position: absolute; /* Cambia a posición absoluta */
    top: 1%; /* Ajusta la posición vertical */
    left: 65.34%; /* Ajusta la posición horizontal */    
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 3px;
    padding: 15px; /* Espaciado interno */
}

#correlation {
    height: 43.5%;
    width: 19%;
    position: absolute; /* Cambia a posición absoluta */
    top: 51.9%; /* Ajusta la posición vertical */
    left: 0.5%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 3px;
    padding: 15px; /* Espaciado interno */
}
#evolution {
    height: 43.5%;
    width: 30.5%;
    position: absolute; /* Cambia a posición absoluta */
    top: 51.9%; /* Ajusta la posición vertical */
    left: 67.3%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 3px;
    padding: 15px; /* Espaciado interno */
}

#serie-temporal {
    height: 43.5%;
    width: 44%;
    position: absolute; /* Cambia a posición absoluta */
    top: 51.9%; /* Ajusta la posición vertical */
    left: 21.44%; /* Ajusta la posición horizontal */
    background-color: #fff; /* Fondo blanco para la sección de visualización */
    border: 1px solid #333;
    border-radius: 3px;
    padding: 15px; /* Espaciado interno */
}
.city-selector,
.view-radial h3 {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espacio entre elementos */
    font-family: 'Arial', sans-serif; /* Cambia la fuente a Arial */
    color: #333; /* Color del texto */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Sombra sutil en el texto */
    
}

label {
    display: block; /* Hace que cada label ocupe toda la línea */
    margin-bottom: 5px; /* Espaciado entre checkboxes */
}

.options-chek label {
    font-size: 0.9em; /* Cambia el tamaño de la fuente a más pequeño */
    color: #000000; /* Color más suave para los checkboxes */

}
.options-chek input[type="checkbox"] {
    margin-right: 5px; /* Espacio entre checkbox y label */
    transform: scale(1.2); /* Aumenta el tamaño del checkbox */
}
.options-chek {
    margin-top: 30px; /* Ajusta el valor según sea necesario */
}
#chart-view-radial{
    height: 46.4%;
    width: 35%;
    position: absolute; /* Cambia a posición absoluta */
    top: -4%; /* Ajusta la posición vertical */
    left: 20%; /* Ajusta la posición horizontal */
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
    

}

#umap-reduccion {
    position: relative;

    height: 47%;
    width: 27.2%;
    position: absolute;
    top: 1%;
    left: 36.23%;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 15px;
    overflow: hidden; /* Para evitar que el contenido desborde */
}

.title-banner {
    position: absolute; /* Para posicionar en relación al contenedor padre */
    top: 0; /* Alinear al borde superior */
    left: 0; /* Alinear al borde izquierdo */
    background-color: #f0f0f0; /* Color de fondo */
    color: #333; /* Color del texto */
    padding: 8px 20px 8px 10px; /* Espaciado interno */
    font-weight: bold; /* Texto en negrita */
    font-size: 15px; /* Tamaño de la fuente */
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); /* Forma del título con borde diagonal */
    width: 30%; /* Ancho del título */
    z-index: 1; /* Asegura que quede siempre por encima */
    pointer-events: none; /* Evita interferencias al interactuar con otros elementos */
}
.title-banner2 {
    position: absolute; /* Para posicionar en relación al contenedor padre */
    top: 0; /* Alinear al borde superior */
    left: 0; /* Alinear al borde izquierdo */
    background-color: #f0f0f0; /* Color de fondo */
    color: #333; /* Color del texto */
    padding: 8px 20px 8px 10px; /* Espaciado interno */
    font-weight: bold; /* Texto en negrita */
    font-size: 15px; /* Tamaño de la fuente */
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); /* Forma del título con borde diagonal */
    width: 40%; /* Ancho del título */
    z-index: 1; /* Asegura que quede siempre por encima */
    pointer-events: none; /* Evita interferencias al interactuar con otros elementos */
    
}
.title-banner3 {
    position: absolute; /* Para posicionar en relación al contenedor padre */
    top: 0; /* Alinear al borde superior */
    left: 0; /* Alinear al borde izquierdo */
    background-color: #f0f0f0; /* Color de fondo */
    color: #333; /* Color del texto */
    padding: 8px 20px 8px 10px; /* Espaciado interno */
    font-weight: bold; /* Texto en negrita */
    font-size: 15px; /* Tamaño de la fuente */
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); /* Forma del título con borde diagonal */
    width: 20%; /* Ancho del título */
    z-index: 0; /* Asegura que quede siempre por encima */
    pointer-events: none; /* Evita interferencias al interactuar con otros elementos */
}


.fechas-rad {
    margin-top: 15px; /* Ajusta el valor según cuánto espacio quieras agregar */
    margin-left: 10%;
}

label[for="fecha-inicio"],
label[for="fecha-fin"],
#fecha-inicio,
#fecha-fin {
    display: block; /* Mantén estos en líneas separadas */
    margin-top: 8px;
    margin-left: 10px;

}

label input[type="checkbox"] {
    display: inline; /* Asegura que el checkbox esté en línea */
    margin-top: 8px;
    margin-left: 10px;

}

label#checkbox-container {
    display: inline-flex; /* Coloca el contenedor en una línea */
    align-items: center; /* Alinea el checkbox y el texto verticalmente */
    margin-top: 10px; /* Espacio superior opcional */
}

/* Estilos para el contenedor principal del panel de selección */

/* Estilos para el título del panel */
#dashboard h3 {
    font-size: 1em;
    color: #000000;
    margin-bottom: 15px;
}

/* Estilos para los checkboxes de las ciudades */
.city-checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

/* Ocultar el contenedor de atribución que incluye el logo */
.gm-style .gm-style-cc {
    display: none !important; /* Forzar ocultación */
}

#legend {
    display: flex; /* Usar flexbox para alinear los elementos en fila */
    margin-top: 100px; /* Espacio superior para separar de otros elementos */
    margin-left: 160px;
    font-family: Arial, sans-serif; /* Fuente de la leyenda */
    color: #000000; /* Color más suave para los checkboxes */
    font-size: 0.8em; /* Aumenta el tamaño de la letra */

}

.legend-item {
    display: flex; /* Usar flexbox para alinear el cuadro de color y el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    margin-right: 20px; /* Espacio a la derecha de cada elemento */
}

.color-box {
    width: 21px; /* Ancho del cuadrado de color */
    height: 15px; /* Alto del cuadrado de color */
    margin-right: 15px; /* Espacio entre el cuadrado y el texto */
    border-radius: 20%;
    opacity: 0.2; /* Opacidad del cuadrado de color */
}



.options-chek-correlation {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los grupos */
}

.meteorological {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los checkbox */
    margin-top: -10px;
}
.contaminants {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; /* Espacio entre los checkbox */
    margin-top: -20px;
}

.contaminants label, .meteorological label {
    display: auto;
    align-items: center; /* Alinea verticalmente el texto y el checkbox */
    font-size: 9.7px; /* Reducir el tamaño del texto */
}

.contaminants label input, .meteorological label input {
    margin-right: px; /* Reduce el espacio entre el texto y el checkbox */
    transform: scale(0.9); /* Reduce el tamaño del checkbox ligeramente */
}

.contaminants {
    flex: 1 1 48%; /* Ocupa el 48% del ancho del contenedor y puede reducirse si es necesario */
    margin-top: 87%;
    justify-content: center;

}

.meteorological {
    flex: 1 1 48%; /* Ocupa el 48% del ancho del contenedor y puede reducirse si es necesario */
    justify-content: center;

}

#chart-view-dendrogram{
    height: 20%;
    width: 20%;
    position: absolute; /* Cambia a posición absoluta */
    top: -1%; /* Ajusta la posición vertical */
    left: 4%; /* Ajusta la posición horizontal */
    border-radius: 8px;
    padding: 15px; /* Espaciado interno */
}
.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
}

#correlation-bar-container {
    position: absolute;
    right: 15px; /* Ajusta la posición */
    top: 100px;
    height: 170px;
    width: 16px;
}

#correlation-bar {
    position: relative;
    width: 100%;
    height: 100%;
}

#correlation-gradient {
    background: linear-gradient(to top, red, blue); /* De rojo a azul */
    height: 100%;
}

#negative-label,
#positive-label {
    position: absolute;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #f0f0f0;
}

#negative-label {
    top: 0;
}

#positive-label {
    bottom: 0;
}
.selected {
    stroke: rgb(255, 0, 0);
    stroke-width: 3;
}
